[Unit]
Description=Get WH1080 data from Rtl433
After=network.target

[Service]
ExecStart=/home/pi/weather/bmp280.sh
ExecStop=/usr/bin/touch /home/pi/weather/stopbmp280
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable getwu && sudo systemctl start getwu