[Unit]
Description=Get Wunderground Data 
After=network.target

[Service]
ExecStart=/home/bitnami/mmwebsite/getwu/getBresserData.sh
ExecStop=/usr/bin/touch /home/bitnami/mmwebsite/getwu/stopwu
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable getwu && sudo systemctl start getwu