[Unit]
Description=Get Weatherdata from MQ
After=network.target

[Service]
ExecStart=/home/pi/weather/subswh1080/getWeatherData.sh
ExecStop=/home/pi/weather/subswh1080/stopGW.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable getwu && sudo systemctl start getwu